@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>React Test</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Column 1</h2>
        <div id="app-root"></div>
    </div>
    <div class="col-md-4">
        <h2>Column 2</h2>
    </div>
    <div class="col-md-4">
        <h2>Column 3</h2>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="/Scripts/dist/bundle.js"></script>
}